@using Demo.Api.First.Services
@model HostAndColor
@{
	ViewData["Title"] = "Home Page";

}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<div style="background:rgba(@Model.color)">
		<p>@Html.DisplayFor(m=> m.hostname)</p>
		<p>@Html.DisplayFor(m=>m.ip)</p>
	</div>

</div>
